<section class="home-page">
    <div class="row">
        <div class=" col-12 content col-sm-12 col-md-12 col-lg-12 p-0      ">
            <eg-main-carousel ></eg-main-carousel>
            <eg-top-category [topCategory]="topCategory" [pagination]="paginationTopCategory"></eg-top-category>
             <eg-best-seller [productsBestSeller]="productBestSeller" [pagination]="paginationProductBestSeller"></eg-best-seller>
              <eg-latest-product [productRecentView]="productRecentView!" [pagination]="paginationproductRecentView"></eg-latest-product>
       
        </div>
        </div> 
</section> 
