<!-- footer start -->
<footer  [ngClass]="authService.dir">
    <div class="row">
        <!-- first colum start -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-3  ">
            <h5 translate>titletop.Cash</h5>
             
            <div class="info">
                <p class="address" translate>footer.6 october ,cairo egypt</p>
                <p class="phone">01027409328</p>
                <p class="email text-truncate">ahmed.salama.ali.ramadan@gmail.com</p>
            </div>
         
            <hr />
            <div class="copy-right">
                <p translate><span translate>footer.copyright 2019</span> &copy; <a href="#" translate>titletop.Cash</a>.<span translate>footer.all rights reserved </span> </p>
                <span class="d-flex justify-content-around">
                    <img src="assets/img/pay/p1.png" alt="">
                    <img src="assets/img/pay/p2.png" alt="">
                    <img src="assets/img/pay/p3.png" alt="">
                    <img src="assets/img/pay/p4.png" alt="">
                </span>
             </div>
        </div>        <!--  first colum end -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-2  ">
            <h5 translate>footer.find it fast</h5>
            <nav>
                <li> <a href="#" translate>footer.Laptop & Computers</a></li>
                <li><a href="#" translate>footer.Smart Phone & Tablets</a></li>
                <li><a href="#" translate>footer.TV & Audio</a></li>
                <li><a href="#" translate>footer.Cameras & Photography</a></li>
                <li><a href="#" translate>footer.Accesories</a></li>

            </nav> 
        </div><!-- second colum end -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-2  ">
            <h5 translate>footer.information</h5>
            <nav>
                <li> <a href="#"translate>footer.Find a Store</a></li>
                <li><a href="#"translate>footer.About Us</a></li>
                <li><a href="#"translate>footer.Contact Us</a></li>
                <li><a href="#"translate>footer.Delivery information</a></li>
                <li><a href="#"translate>footer.Privacy Policy</a></li>

            </nav>
        </div><!-- third colum end -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-2  ">
            <h5 translate>footer.Customer Care</h5>
            <nav>
                <li> <a href="#" translate>footer.My Account</a></li>
                <li><a href="#" translate>footer.Order History</a></li>
                <li><a href="#" translate>footer.Wish List</a></li>
                <li><a href="#" translate>footer.Customer Service</a></li>
                <li><a href="#" translate>footer.Returns / Exchange</a></li>

            </nav>
        </div><!-- four colum end -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-3  ">
            <h5 translate>footer.sign up to</h5>
            <p translate>footer.SubscribeTo</p>
             <div class="text-center">
                <input type="text"  [ngClass]="authService.dir" >
                <a translate  [ngClass]="authService.dir" >footer.Subscribe</a>
            </div>
         </div><!-- five colum end -->
    </div>
</footer>
<!-- footer end -->
